{% extends 'AppBundle::inicio.html.twig' %}
{% block colorMarcoContenido %}<div class="panelGolpp">{% endblock%}
{% block contenidos %}

<div class="row">
    <div class="col-md-12 ">
        <div class="margenes margen-regular ">
            <img id="img-superior" class="img-thumbnail-none" src="{{ asset('bundles/app/images/titleHead/conectarCuentas.svg') }}" alt="">
            <div class="miContenedor bg-white">
                <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="fondo-redes margenes-internos">
                                    <div class="text-center">
                                        <img class="img-thumbnail-none" src="{{ asset('bundles/app/images/gallery/facebook.png') }}" alt="">
                                        <br><br>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-addon fondo-ico-social"><i class="fa fa-user"></i></div>
                                        <input type="text" class="form-control fondo-input-facebook text-white input-lg" id="exampleInputAmount" placeholder="Usuario">
                                    </div>
                                    <br>
                                    <div class="input-group">
                                        <div class="input-group-addon fondo-ico-social"><i class="fa fa-lock"></i></div>
                                        <input type="text" class="form-control fondo-input-facebook text-white input-lg" id="exampleInputAmount" placeholder="Clave">
                                    </div>
                                    <br>
                                    <br>
                                    <a href="{{path('success_facebook')}}" class="btn btn-facebook btn-lg btn-block"><b>Registrar cuenta</b></a>
                                    <br>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <img id="img-inferior" class="img-thumbnail-none" src="{{ asset('bundles/app/images/gallery/borderInferior.png') }}" alt="">
        </div>
    </div>
</div>

{% endblock %}
