{% extends 'AppBundle::inicio.html.twig' %}
{% block colorMarcoContenido %}<div class="panelGolpp">{% endblock%}
{% block contenidos %}

<div class="row">
    <div class="col-md-12 ">
        <div class="margenes margen-regular ">
            <img id="img-superior" class="img-thumbnail-none" src="{{ asset('bundles/app/images/titleHead/conectarCuentas.svg') }}" alt="">
            <div class="miContenedor bg-white">
                <div class="container">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <div class="bg-yahoo margenes-internos">
                                    <div class="text-center">
                                        <img class="img-thumbnail-none" src="{{ asset('bundles/app/images/gallery/yahoowhite.png') }}" alt="">
                                        <br><br>
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-addon bg-ico-social-outlook"><i class="fa fa-user text-white"></i></div>
                                        <input type="text" class="form-control fondo-input-yahoo text-white input-lg" id="exampleInputAmount" placeholder="Ingresa tu correo">
                                    </div>
                                    <br>
                                    <div class="input-group">
                                        <div class="input-group-addon bg-ico-social-outlook"><i class="fa fa-lock text-white"></i></div>
                                        <input type="text" class="form-control fondo-input-yahoo text-white input-lg" id="exampleInputAmount" placeholder="Ingresa tu contraseña">
                                    </div>
                                    <br>
                                    <br>
                                    <a href="{{path('success_yahoo')}}" class="btn btn-solid-white btn-lg btn-block text-black"><b>Registrar E-mail</b></a>
                                    <br>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <img id="img-inferior" class="img-thumbnail-none" src="{{ asset('bundles/app/images/gallery/borderInferior.png') }}" alt="">
        </div>
    </div>
</div>

{% endblock %}
