{% extends 'AppBundle::layout.html.twig' %}
{% block colorMarcoContenido %}<div class="panelGolpp">{% endblock%}
{% block contenidos %}

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="margenes">
            <img id="img-superior" class="img-thumbnail-none" src="{{ asset('bundles/app/images/titleHead/iniciarSesion.svg') }}" alt="">
            <div class="miContenedor margen-login bg-black">
                <div class="container">
                    <div class="text-center">
                        <h3>Olvidó su contraseña</h3>
                        <br><br>
                    </div>
                    <div class="input-group">
                        <div class="input-group-addon size text-icon-size"><i class="fa fa-envelope-o"></i></div>
                        <input type="text" class="form-control input-lg" id="exampleInputAmount" placeholder="Escriba su correo electrónico">
                    </div>
                    <br>
                    <div class="text-center text-mute">
                        <h4>Recibirá un mail <br> con los últimos datos registrados</h4>
                    </div>
                    <br>
                    <br>
                    <a href="{{path('app_homepage')}}" class="btn btn-danger btn-lg btn-block">Recuperar mi contraseña</a>
                    <br>
                </div>
            </div>
            <img id="img-inferior" class="img-thumbnail-none" src="{{ asset('bundles/app/images/gallery/borderInferior.png') }}" alt="">
            <img id="balon" class="balon img-thumbnail-none" src="{{ asset('bundles/app/images/gallery/balon.png') }}" alt="">
        </div>
    </div>
</div>

{% endblock %}
