{% extends 'AppBundle::inicio.html.twig' %}
{% block colorMarcoContenido %}<div class="panelGolpp">{% endblock%}
{% block contenidos %}

<div class="row">
    <div class="col-md-12">
        <div class="margenes margen-regular anchoLibre">
            <img id="img-superior" class="img-thumbnail-none" src="{{ asset('bundles/app/images/titleHead/publicar.svg') }}" alt="">
            <div class="miContenedor bg-white">
                <div class="container">
			<div class="row">
			    <div class="col-md-4">

			    </div>
			    <div class="col-md-4">
			    	<br><br>
			    	<img style="width: 420px; height: 430px;" src="{{ asset('bundles/app/images/gallery/compartir_facebook2.jpg') }}" alt="" class="sombra-tabla">
			    	<br><br>
			    </div>
			    <div class="col-md-4">

			    </div>
			</div>
                </div>
            </div>
            <img id="img-inferior" class="img-thumbnail-none" src="{{ asset('bundles/app/images/gallery/borderInferior.png') }}" alt="">
        </div>
    </div>
</div>

{% endblock %}
