{% extends 'AppBundle::inicio.html.twig' %}
{% block colorMarcoContenido %}<div class="panelGolpp">{% endblock%}
{% block contenidos %}
<div class="row">
	<div class="col-md-12 ">
		<img class="img-thumbnail margen-superior" src="{{ asset('bundles/app/images/titleHead/tableroTorneo.svg') }}" alt="">
		<div class="fondo-blanco ">
			<br>
			<div class="row">
				<div class="col-md-1"><!--sinDefinir--></div>
				<div class="col-md-10">
					<div class="col-md-12 ">
						<div class="text-center">
							<div class="col-md-4 ">
								<h4 style="font-weight: bold;"><img style="width: 50px; height: 50px;" src="{{ asset('bundles/app/images/gallery/icons/fixture_gris.svg') }}" alt=""> DETALLE DEL PARTIDO</h4>
							</div>
							<div class="col-md-8 ">
								<div class="row">
									<div class="col-md-12 ">
										<div class="text-center">
											<div class="col-md-3"><!--sindefinir--></div>
											<div class="col-md-3"><!--sindefinir--></div>
											<div class="col-md-3"><!--sindefinir--></div>
											<div class="col-md-3">
												<a href="#" class="btn btn-default btn-block btn-detalle-partido1 " style="font-weight: bold; width: 150px">VOCAL Y ARBITROS</a>
											</div>

										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<br><br>
					<div class="row">
						<div class="col-md-12">
							<div class="text-center">



								<div class="col-md-12 ">


											<table style="width: 100%;">
												<tr>
													<td style="background-color:#EF424B; height: 40px; color: white; font-weight: bold; border-radius: 5px 0px 0px 0px ;">
														FECHA 2
													</td>
													<td style="background-color:#EF424B; height: 40px; text-align: center;color: white; font-weight: bold;  ">
														5 NOV 2017
													</td>
													<td style="background-color:#EF424B; height: 40px; color: white; font-weight: bold; border-radius: 0px 5px 0px 0px ">
														GRUPO A
													</td>
												</tr>
											</table>

											<table align="center" style="width: 100%;" class="fondo-blanco">

												<tr>
													<td>
													<br><br>
														<table style="width: 100%;">
															<tr>
																<td style="width: 30px;">

																</td>
																<td>

																</td>
																<td style="width: 10px;"></td>
																<td style="text-align: center;">
																	<i class="fa fa-get-pocket " style="color:gray; border-bottom: 1px solid gray; font-size: 70px; "></i>
																</td>
															</tr>

															<tr>
																<td style="width: 30px;">

																</td>
																<td class="sombra-tabla" style="width: 50px; height: 50px; background-color: white;color:black; border-radius: 5px 5px 5px 5px; ">
																	<i class="fa fa-pencil" style="font-size: 30px; color:gray; border-bottom: 1px solid gray;"></i>
																</td>
																<td style="width: 10px;"></td>
																<td style="font-size: 20px; text-align: center; font-weight: bold;">
																	equipo 1
																</td>
															</tr>
														</table>
													<br><br>
													</td>
													<td align="center">
													<br><br>
														<table>
															<tr>
																<td class="margen-result-torneo" style=" border-radius: 5px 5px 5px 5px; border: 1PX solid #C8C8C8; ">
																	<table>
																		<tr>
																			<td style="width: 90px;height: 90px; background-color: #465059; color: white; border-radius: 5px 5px 5px 5px; text-align: center; font-weight: bold; font-size: 40px;">
																				-
																			</td>
																			<td style="width: 25px;height: 5px; background-color: #F0F0F0; color: black; text-align: center; font-weight: bold; font-size: 40px; ">
																				-
																			</td>
																			<td style="width: 90px;height: 90px; background-color: #465059; color: white; border-radius: 5px 5px 5px 5px; text-align: center; font-weight: bold; font-size: 40px;">
																				-
																			</td>
																		</tr>
																	</table>
																</td>
															</tr>
														</table>
														<table>
															<tr>
																<td>

																</td>
																<td style="font-size: 20px; font-weight: bold; text-align: center; color: #465059; ">
																	PRIMER TIEMPO: 00"
																	<br>
																	<div class="progress">
																	  <div class="progress-bar" style="width: 100%; background-color: #465059; "></div>
																	</div>
																</td>
																<td>

																</td>
															</tr>
														</table>
														<table>
															<tr>
																<td>

																</td>
																<td>
																	<button class="btn btn-default">Fin priemer tiempo</button>
																</td>
																<td>

																</td>
															</tr>
														</table>
													<br><br>
													</td>
													<td>
													<br><br>
														<table style="width: 100%;">
															<tr>
																<td style="text-align: center;">
																	<i class="fa fa-get-pocket " style="color:gray; border-bottom: 1px solid gray; font-size: 70px; "></i>
																</td>
																<td style="width: 10px;"></td>
																<td>

																</td>
																<td style="width: 30px;">

																</td>
															</tr>
															<tr>
																<td style="font-size: 20px; text-align: center; font-weight: bold;">
																	equipo 2
																</td>
																<td style="width: 10px;"></td>
																<td class="sombra-tabla" style="width: 50px; height: 50px; background-color: white;color:black; border-radius: 5px 5px 5px 5px;">
																	<i class="fa fa-pencil" style="font-size: 30px; color:gray; border-bottom: 1px solid gray;"></i>
																</td>
																<td style="width: 30px;">

																</td>
															</tr>
														</table>
													<br><br>
													</td>
												</tr>
												<tr>
													<table class="fondo-blanco" style="width: 100%">
														<tr>
															<td style="width: 15%;">

															</td>
															<td>
																<table style="width: 100%">
																	<tr>
																		<td style="background-color:#EF424B; height: 40px; color: white; font-weight: bold; border-radius: 5px 5px 0px 0px ;">
																			SOLO PUEDE ELEGIR UNA OPCI&Oacute;N:
																		</td>
																	</tr>
																</table>
																<table style="width: 100%">
																	<tr>
																		<td>
																			<br>
																			<button class="btn btn-default btn-detalle-partido2"> <img style="width: 40px; height: 40px;" src="/golpp_master/web/bundles/app/images/gallery/icons/postergados.svg" alt=""> Iniciar Partido </button>
																			<br><br>
																		</td>
																		<td>
																			<br>
																			<button class="btn btn-default btn-detalle-partido2"> <img style="width: 40px; height: 40px;" src="/golpp_master/web/bundles/app/images/gallery/icons/postergados.svg" alt=""> Postergar Partido </button>
																			<br><br>

																		</td>
																		<td>
																			<br>
																			<button class="btn btn-default btn-detalle-partido2"> <img style="width: 40px; height: 40px;" src="/golpp_master/web/bundles/app/images/gallery/icons/postergados.svg" alt=""> Cancelar Partido </button>
																			<br><br>

																		</td>
																	</tr>
																</table>
															</td>
															<td style="width: 15%;">

															</td>
														</tr>
													</table>
												</tr>
											</table>
											<br><br>
								</div>
							</div>
						</div>



						<br>
					</div>
				</div>
				<div class="col-md-1"><!--sinDefinir--></div>
			</div>
		</div>
		<img class="img-thumbnail" src="{{ asset('bundles/app/images/gallery/borderInferior.png') }}" alt="">





	</div>
</div>


{% endblock %}
