{% extends 'AppBundle::inicio.html.twig' %}
{% block colorMarcoContenido %}<div class="panelGolpp">{% endblock%}
{% block contenidos %}

<div class="row">
    <div class="col-md-12 ">
        <div class="margenes margen-regular ">
            <img id="img-superior" class="img-thumbnail-none" src="{{ asset('bundles/app/images/titleHead/miCuenta.svg') }}" alt="">
            <div class="miContenedor bg-white">
                <div class="container">
                    <br>
  				<div class="row">
					<div class="col-md-12">
						<div class="partidos_postergados-title text-gray" style="font-size: 30px;">
							<img class="img-thumbnail-none" style="height: 50px; width: 50px"  src="{{ asset('bundles/app/images/gallery/icons/partJugadosGris.svg') }}" alt=""> Partidos Jugados
						</div>

					</div>

				</div>
				<div class="row">
					<div class="con-md-12">
						<div class="scroll">
							<table id="partidos_postergados-table" class="table table-condensed">
								<thead >
									<tr class="fondo-gray" style="background-color: #3E4F57 !important;color:white">
										<th >COMPETICIÓN</th>
										<th class="text-center">JOSÉ LUIS COBA</th>
									</tr>
								</thead>
								<tbody class="fondo-blanco">
									<tr style="border-top:2px solid #465059;">
										<td colspan="2">
											<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
												<div class="panel panel-default">
													<div class="panel-heading" style="border-bottom:1px solid #3E4F57;" role="tab" id="headingOne">
														<h4 class="panel-title">
															<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
																<div class="row">
																	<div class="col-md-3" style="border-right:1px solid #3E4F57;color: #465059;">Torneo Empresarial 2017#1 <span class="caret" style="float:right;"></span></div>
																	<div class="col-md-9 text-center color-gray" ><b style="color: #465059; font-style:normal !important;font-weight:1000">3</b></div>
																</div>

															</a>
														</h4>
													</div>
													<div id="collapseOne" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="headingOne">
														<div class="panel-body">
															<table class="table table-bordered" style="color:#465059;">
																<tr>
																	<td style="width:270px;padding-left: 2%;"><li style="list-style-type: disc;">Equipo 2 vs Equipo 4</li></td>
																	<td class="text-center">2</td>
																</tr>
																<tr>
																	<td style="width:270px;padding-left: 2%;"><li style="list-style-type: disc;">Equipo 6 vs Equipo 1</li></td>
																	<td class="text-center">1</td>
																</tr>
																<tr>
																	<td style="width:270px;padding-left: 2%;"><li style="list-style-type: disc;">Equipo 3 vs Equipo 5</li></td>
																	<td class="text-center">2</td>
																</tr>
															</table>
														</div>
													</div>
												</div>
												<div class="panel panel-default">
													<div
														class="panel-heading"
														style="border-bottom:1px solid #3E4F57;"
														role="tab"
														id="headingOne"
													>
														<h4 class="panel-title">
															<a
																role="button"
																data-toggle="collapse"
																data-parent="#accordion"
																href="#collapseTwo"
																aria-expanded="false"
																aria-controls="collapseOne"
															>
																<div class="row">
																	<div class="col-md-3" style="border-right:1px solid #3E4F57;color: #465059;">Torneo División Operativa<span class="caret" style="float:right;"></span></div>
																	<div class="col-md-9 text-center color-gray" ><b style="color: #465059; font-style:normal !important;font-weight:1000">5</b></div>
																</div>

															</a>
														</h4>
													</div>
													<div
														id="collapseTwo"
														class="panel-collapse collapse out"
														role="tabpanel"
														aria-labelledby="headingTwo"
													>
														<div class="panel-body">
															<table class="table table-bordered" style="color:#465059;">
																<tr>
																	<td style="width:270px;padding-left: 2%;"><li style="list-style-type: disc;">Equipo 2 vs Equipo 4</li></td>
																	<td class="text-center">2</td>
																</tr>
																<tr>
																	<td style="width:270px;padding-left: 2%;"><li style="list-style-type: disc;">Equipo 6 vs Equipo 1</li></td>
																	<td class="text-center">1</td>
																</tr>
																<tr>
																	<td style="width:270px;padding-left: 2%;"><li style="list-style-type: disc;">Equipo 3 vs Equipo 5</li></td>
																	<td class="text-center">2</td>
																</tr>
															</table>
														</div>
													</div>
												</div>
												<div class="panel panel-default">
													<div class="panel-heading" role="tab" id="headingTree">
														<h4 class="panel-title">
															<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTree" aria-expanded="false" aria-controls="collapseTree">
																<div class="row">
																	<div class="col-md-3" style="border-right:1px solid #3E4F57;color: #465059;">Torneo Área de producción<span class="caret" style="float:right;"></span></div>
																	<div class="col-md-9 text-center color-gray" ><b style="color: #465059; font-style:normal !important;font-weight:1000">3</b></div>
																</div>
															</a>
														</h4>
													</div>
													<div id="collapseTree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTree">
														<div class="panel-body">
															<table class="table table-bordered" style="color:#465059;">
																<tr>
																	<td style="width:270px;padding-left: 2%;"><li style="list-style-type: disc;">Equipo 2 vs Equipo 4</li></td>
																	<td class="text-center">1</td>
																</tr>
																<tr>
																	<td style="width:270px;padding-left: 2%;"><li style="list-style-type: disc;">Equipo 6 vs Equipo 1</li></td>
																	<td class="text-center">1</td>
																</tr>
																<tr>
																	<td style="width:270px;padding-left: 2%;"><li style="list-style-type: disc;">Equipo 3 vs Equipo 5</li></td>
																	<td class="text-center">1</td>
																</tr>
															</table>
														</div>
													</div>
												</div>

											</div>
										</td>
									</tr>


								</tbody>
								<tfoot style="background-color: #3E4F57 !important; color:white;font-weight:bold;">
									<tr>
										<td colspan="2">

											<div class="col-md-3" style="border-right:1px solid white; color: white;">TOTAL PARTIDOS JUGADOS</div>
											<div class="col-md-9 text-center color-gray" ><b style="color: white; font-style:normal !important;font-weight:1000">11</b></div>


										</td>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
                </div>
            </div>
            <img id="img-inferior" class="img-thumbnail-none" src="{{ asset('bundles/app/images/gallery/borderInferior.png') }}" alt="">
        </div>
    </div>
</div>

{% endblock %}
