{% extends 'AppBundle::inicio.html.twig' %}
{% block colorMarcoContenido %}<div class="panelGolpp">{% endblock%}
{% block contenidos %}
	<div class="row">
  		<div class="col-md-12 ">
  			<img class="img-thumbnail-none margen-superior" src="{{ asset('bundles/app/images/gallery/misTorneos.svg') }}" alt="">
  			<div class="fondo-blanco ">
  				<br><br><br><br>
  				<div class="row">
  					<div class="text-center">
  						<h1> CARGA EQUIPOS</h1>
  					</div>

				</div>
				<br><br><br><br><br>
				<br><br><br><br><br>
				<br><br><br><br><br>
			</div>
			<img class="img-thumbnail" src="{{ asset('bundles/app/images/gallery/borderInferior.png') }}" alt="">
			<br>

  		</div>
  	</div>

{% endblock %}
