body {
background:              url('../images/gallery/BackPrueba.png') no-repeat fixed;
-moz-background-size:    cover;
-webkit-background-size: cover;
-o-background-size:      cover;
background-size:         cover;
width:                   auto;
height:                  auto;
}
/*botones*/
.btn-white-trans{
background-color:        rgba(255, 255, 255, 0.5);
}
.btn-gray-trans{
background-color:        rgba(62, 79, 87, 0.5) !important;
}
.btn-gray{
background-color:        #3E4F57;
}
.btn-danger{
background-color:        #EF424B;
border-color:            #d43f3a;
}
.btn-blue{
background-color:        #4385F5;
}
.btn-facebook {
background-color:        #4c699e;
border-color:            #47618d;
color:                   #ffffff !important;
}
.btn-twitter {
background-color:        #1daee3;
border-color:            #3997ba;
color:                   #ffffff !important;
}
.btn-mail{
background-color:        #4B4B4B;
}
.btn-solid-white{
background-color:        #fff;
}
.btn-instagram{
background:              rgba(168,56,140,1);
background:              -moz-linear-gradient(left, rgba(168,56,140,1) 0%, rgba(146,76,154,1) 37%, rgba(121,101,164,1) 69%, rgba(106,109,175,1) 100%);
background:              -webkit-gradient(left top, right top, color-stop(0%, rgba(168,56,140,1)), color-stop(37%, rgba(146,76,154,1)), color-stop(69%, rgba(121,101,164,1)), color-stop(100%, rgba(106,109,175,1)));
background:              -webkit-linear-gradient(left, rgba(168,56,140,1) 0%, rgba(146,76,154,1) 37%, rgba(121,101,164,1) 69%, rgba(106,109,175,1) 100%);
background:              -o-linear-gradient(left, rgba(168,56,140,1) 0%, rgba(146,76,154,1) 37%, rgba(121,101,164,1) 69%, rgba(106,109,175,1) 100%);
background:              -ms-linear-gradient(left, rgba(168,56,140,1) 0%, rgba(146,76,154,1) 37%, rgba(121,101,164,1) 69%, rgba(106,109,175,1) 100%);
background:              linear-gradient(to right, rgba(168,56,140,1) 0%, rgba(146,76,154,1) 37%, rgba(121,101,164,1) 69%, rgba(106,109,175,1) 100%);
filter:                  progid:DXImageTransform.Microsoft.gradient( startColorstr='#a8388c', endColorstr='#6a6daf', GradientType=1 );
}
.btn-size-1{
width:                   90%;
}
/*textos*/
.text-white{
color:                   white !important;
}
.text-danger{
color:                   #EF424B;
}
.text-blue{
color:                   #4385F5;
}
.text-black{
color:                   #000;
}
.text-gray{
color:                   #3E4F57 !important;
}
.text-gray2{
color:                   #6E6E6E;
}
.text-gray-light{
color:                   #B0B0AF;
}
/*backgrounds*/
.bg-gray{
background-color:        #3E4F57;
}
.bg-danger{
background-color:        #EF424B !important;
border:                  transparent;
}
.bg-gray-light{
background-color:        #D7D7D7 !important;
}
.bg-gray-trans{
background-color:        rgba(62, 79, 87, 0.5) !important;
}
.bg-black{
background-color:        rgba(0, 0, 0, 0.5) !important;
}
.bg-white{
background-color:        rgba(255, 255, 255, 0.5);
}
.bg-solid-white{
background-color:        #fff;
}
.bg-solid-black{
background-color:        #000 !important;
}
.bg-outlook{
background-color:        #0073C6;
border-radius:           5px;
-webkit-box-shadow:      5px 5px 9px -3px rgba(0,0,0,0.75);
-moz-box-shadow:         5px 5px 9px -3px rgba(0,0,0,0.75);
box-shadow:              5px 5px 9px -3px rgba(0,0,0,0.75);
margin-top:              5%;
margin-bottom:           5%;
}
.btn-scuare{
font-size:               150%;
height:                  80px;
padding:                 15px 12px;
padding-right:           12px;
padding-left:            12px;
display:                 inline-block;
font-weight:             400;
text-align:              center;
vertical-align:          middle;
cursor:                  pointer;
white-space:             nowrap;
line-height:             1.42857143;
}
.btn-bordered{
border:                  2px solid #EF424B !important;
font-size:               20px;
line-height:             5px !important;
padding:                 3%;
text-align:              left;
}
.table-map-torneo{
width:                   100%;
margin-bottom:           20px;
max-width:               100%;
background-color:        transparent;
border-collapse:         collapse;
border-spacing:          0;
}
.btn-rounded{
border-radius:           50px;
}
.btn-scuare            :hover {
background-color:        #EF424B !important;
border:                  transparent;
color:                   white;
}

.div-nowrap{
display:                 inline-block;
white-space:             normal;
line-height:             25px !important;
}
.panel-ttpf1 {
margin-bottom:           20px;
background-color:        transparent;
border:                  1px solid transparent;
border-radius:           4px;
-webkit-box-shadow:      none;
box-shadow:              transparent;
}
.img-size-ttp1{
width:                   30px !important;
height:                  30px !important;
}
.bg-input-outlook{

background-color:        #4095D5;
}
.fondo-blanco{
background-color:        rgba(255, 255, 255, 0.5);
}
.fondo-redes{
background-color:        #313131;
border-radius:           5px;
-webkit-box-shadow:      5px 5px 9px -3px rgba(0,0,0,0.75);
-moz-box-shadow:         5px 5px 9px -3px rgba(0,0,0,0.75);
box-shadow:              5px 5px 9px -3px rgba(0,0,0,0.75);
margin-top:              5%;
margin-bottom:           5%;
}
.fondo-ico-social{
border:                  transparent;
background-color:        black !important;
color:                   white;
}
.bg-ico-social-outlook{
border:                  transparent;
background-color:        #002F67 !important;
}
.fondo-redes{
background-color:        #313131;
border-radius:           5px;
-webkit-box-shadow:      5px 5px 9px -3px rgba(0,0,0,0.75);
-moz-box-shadow:         5px 5px 9px -3px rgba(0,0,0,0.75);
box-shadow:              5px 5px 9px -3px rgba(0,0,0,0.75);
margin-top:              5%;
margin-bottom:           5%;
}

.bg-yahoo{
background-color:        #5100B4;
border-radius:           5px;
-webkit-box-shadow:      5px 5px 9px -3px rgba(0,0,0,0.75);
-moz-box-shadow:         5px 5px 9px -3px rgba(0,0,0,0.75);
box-shadow:              5px 5px 9px -3px rgba(0,0,0,0.75);
margin-top:              5%;
margin-bottom:           5%;
}
.fondo-input-facebook{
border:                  transparent;
background-color:        #343B4B;
}
.fondo-input-twitter{
border:                  transparent;
background-color:        #2C4C61;
}
.fondo-input-google{

background-color:        #EBEBEB;
}
.fondo-input-yahoo{
border:                  transparent;
background-color:        #7F40CC;
}
.bg-input-outlook{
border:                  transparent;
background-color:        #4095D5;
}
.fondo-input-instagram{
border:                  transparent;
background:              rgba(104,69,95,1);
background:              -moz-linear-gradient(left, rgba(104,69,95,1) 0%, rgba(99,77,102,1) 37%, rgba(101,94,115,1) 69%, rgba(96,98,123,1) 100%);
background:              -webkit-gradient(left top, right top, color-stop(0%, rgba(104,69,95,1)), color-stop(37%, rgba(99,77,102,1)), color-stop(69%, rgba(101,94,115,1)), color-stop(100%, rgba(96,98,123,1)));
background:              -webkit-linear-gradient(left, rgba(104,69,95,1) 0%, rgba(99,77,102,1) 37%, rgba(101,94,115,1) 69%, rgba(96,98,123,1) 100%);
background:              -o-linear-gradient(left, rgba(104,69,95,1) 0%, rgba(99,77,102,1) 37%, rgba(101,94,115,1) 69%, rgba(96,98,123,1) 100%);
background:              -ms-linear-gradient(left, rgba(104,69,95,1) 0%, rgba(99,77,102,1) 37%, rgba(101,94,115,1) 69%, rgba(96,98,123,1) 100%);
background:              linear-gradient(to right, rgba(104,69,95,1) 0%, rgba(99,77,102,1) 37%, rgba(101,94,115,1) 69%, rgba(96,98,123,1) 100%);
filter:                  progid:DXImageTransform.Microsoft.gradient( startColorstr='#68455f', endColorstr='#60627b', GradientType=1 );
}
/*margenes arriba-izquierda-abajo-derecha*/
.miContenedor {
overflow:                auto;
color:                   white;
height:                  auto !important;
min-height:              100% !important;

}
.publicidad1{
position:                absolute;
z-index:                 1000;
bottom:                  -70px;
}
.anchoLibre{
height:                  100% !important;
}
.container {
width:                   auto;
margin-right:            5px;
margin-left:             5px;
padding-left:            15px;
padding-right:           15px;
}
.margen-login{
padding:                 0% 0% 0% 0%;
}
.margenes{
margin:                  1% 1% 1% 1%;
}
.margenes-internos{
padding:                 3% 3% 3% 3%;
}
.balon {
position:                absolute;
width:                   250px;
height:                  250px;
border:                  2px solid red;
}
.ct-input-especial{
color:                   white !important;
font-weight:             bold !important;
background-color:        transparent;
border:                  transparent;

}
.ct-addon-especial{
background-color:        transparent !important;
color:                   white !important;
border:                  transparent !important;
}
.pencil-white{
width:                   30px;
height:                  30px;
}

.ct-size{
width:                   50px !important;
color:                   white !important;
font-size:               12px !important;
border:                  transparent;
}
.ct-input-bg{
background-color:        #E1E1E1 !important;
border:                  transparent;
}
.ct-input-group-addon {
font-size:               12px !important;
border:                  transparent;
width:                   120px !important;
text-align:              left !important;
}
.select-arrow-none     ::-ms-expand {
display:                 none !important;
}
.img-svg-size{
width:                   50px;
height:                  50px;
}
.ie-img-circle{
font-size:               20px;
border:                  3px solid white;
padding:                 10%;
background-color:        black;
margin:                  0% 1% 0% 1% !important;
}
.pull-right{
white-space:             nowrap;
}
.text-icon-size{
font-size:               40px !important;
}
.vft-btn{
width:                   100%;
height:                  100px;
padding:                 6%;
}
.vft-btn-circle{
border-radius:           50px;
width:                   100%;
height:                  100px;
padding:                 6%;
}
/**************************************************************************************************/
/*media querys*/
@media (min-width:       320px) {
.btn-misTorneos{
font-size:               15px !important;
}
#btnregresarCorregir{
top:                     330px !important;
left:                    10px !important;
}
.margenes{
margin:                  20% 1% 1% 1%;
}
.miContenedor {
height:                  300px !important;
}
.balon {
display:                 none !important;
}
.publicidad1{
bottom:                  -45px;
left:                    0px;
}

}
@media (min-width:       360px) {
#btnregresarCorregir{
top:                     430px !important;
left:                    40px !important;
}
.margenes{
margin:                  40% 1% 1% 1%;
}
.balon {
display:                 none;
}
.miContenedor {
height:                  400px !important;
}
.publicidad1{
bottom:                  -30px;
left:                    0px;
}
}
@media (min-width:       768px) {
.btn-misTorneos{
font-size:               20px !important;
padding-right:           40% !important;
}
#btnregresarCorregir{
top:                     680px !important;
left:                    10px !important;
}
#jugador2{
left:                    300px;
top:                     200px;
width:                   400px;
height:                  400px;
}
#jugador3{
left:                    250px;
top:                     100px;
width:                   400px;
height:                  400px;
}
.margen-regular{
margin-top:              2% !important;
}
.margenes{
margin:                  35% 1% 1% 1%;
}
.miContenedor {
height:                  600px !important;
}
.balon {
display:                 block;
left:                    250px;
top:                     384px;
}
.iconArrowLeft {
margin-left:             250px;
}
.ct-label{
display:                 none;
}
.ce-title{
height:                  50px;
font-size:               30px;
}
}

@media (min-width:       800px) {
#btnregresarCorregir{
top:                     880px !important;
left:                    10px !important;
}
.margenes{
margin:                  40% 1% 1% 1%;
}
.miContenedor {
height:                  800px !important;
}
.balon {
display:                 block;
left:                    250px;
top:                     400px;
}
.jugador1 {
width:                   400px;
position:                absolute;
right:                   -50px;
top:                     00px;
display:                 block;
}
}
@media (min-width:       980px) {
.btn-misTorneos{
font-size:               20px !important;
padding-right:           50% !important;
}
#jugador3{
left:                    400px;
top:                     100px;
width:                   400px;
height:                  400px;
}
#jugador2{
left:                    400px;
top:                     200px;
width:                   400px;
height:                  400px;
}

#jugador4{
position:                absolute;
width:                   400px;
height:                  400px;
left:                    450px !important;
top:                     76px !important;
}
.margenes{
margin:                  30% 1% 1% 1%;
}
.miContenedor {
height:                  800px !important;
}
.balon {
display:                 block;
left:                    250px;
top:                     490px;
}
}
@media (min-width:       991px) {
.btn-misTorneos{
font-size:               20px !important;
padding-right:           3% !important;
}
#jugador4{
position:                absolute;
width:                   400px;
height:                  400px;
left:                    400px !important;
top:                     76px !important;
}
}
@media (min-width:       1280px) {
#btnregresarCorregir{
top:                     660px !important;
left:                    100px !important;
}
#jugador2{
left:                    600px;
top:                     200px;
width:                   400px;
height:                  400px;
}
#jugador3{
left:                    600px;
top:                     100px;
width:                   400px;
height:                  400px;
}
#jugador4{
position:                absolute;
width:                   400px;
height:                  400px;
left:                    500px !important;
top:                     6px !important;
}
.margenes{
margin:                  10% 1% 1% 1%;
}
.miContenedor {
height:                  auto !important;
}
.balon {
display:                 block;
left:                    -100px;
top:                     450px;
}
.panelGolpp {
width:                   1280px !important;
height:                  600px !important;
margin-left:             auto;
margin-right:            auto;
margin-top:              95px !important;
}
.margen-login{
padding:                 10% 15% 10% 15%;
}
.jugador1 {
width:                   400px;
position:                absolute;
right:                   0px;
top:                     0px;
}
.publicidad1{
bottom:                  -60px;
left:                    0px;
}
}
@media (min-width:       1920px) {

}
/***************fin-media-min*****************/
/***************inicio-media-max*****************/
@media (max-width:       359px) {
    .balon {
        display:                 none;
    }
}
@media (max-width:       367px) {
    .balon {
        display:                 none;
    }

}
@media (max-width:       767px) {

    #fecha_horarios{
        width:                   1000px !important;
    }
    #tableEstadisticasJugador{
        font-size:               10px;
        font-weight:             bold;
    }
    .jugador1, #jugador2, #jugador3{
        display:                 none;
    }

    .btn-scuare, .btn-bordered{
        width:                   90%;
        height:                  50px;
        font-size:               10px;
    }
    .btn-img-scuare{
        width:                   20px !important;
        height:                  20px !important;
    }
    #barraInferior{
        display:                 none;
    }
    .balon {
        display:                 none;
    }
    .ct-addon-left,.ie-addon-left{
        display:                 none;
    }
    .ct-label{
        display:                 block;
    }
    .ce-title{
        height:                  30px;
        font-size:               10px;
    }

}
@media (max-width:       799px) {
}
@media (max-width:       979px) {
    .edit-none{
        display:                 none;
    }
    #jugador4{
        display:                 none;
    }
    .menuButton{
        width:                   100%;
    }
    .jugador1{
        display:                 none;
    }
}

@media (max-width:       1279px) {
    .tt2-img{
        width:                   100% !important;
    }
}
@media (max-width:       1919px) {

}
/***************fin-media-max*****************/

/*bootstrap element*/
.navbar-collapse{
    background-color:        transparent !important;
}
.navbar-default {
    background-color:        transparent;
    border-color:            transparent;
}
.navbar-collapse {
    border-color:            #e7e7e7;
    background-color:        white;
}


a {
    color:                   #fff;
}
    .input-group-addon {
    font-size:               20px;
    font-weight:             400;
    text-align:              center;
    background-color:        #CCCCCC;
}
.img-thumbnail-none {
    padding:                 4px;
    line-height:             1.42857143;
    background-color:        transparent;
    border:                  transparent;
    border-radius:           4px;
    -webkit-transition:      all .2s ease-in-out;
    transition:              all .2s ease-in-out;
    display:                 inline-block;
    max-width:               100%;
    height:                  auto;
}
.table-fHorarios > tbody > tr > td{
    border-top:              0px;
}
.google-map-field + div .form-control,
.google-map-field-modal + div .form-control {
    margin-top: 11px;
    background-color: white;
    padding: 6px 10px;
    width: 30%;
    height: 31px;
    border-radius: 0px;
    /*border-bottom: 2px solid #CCC;
    transition: all .2s ease;*/
}
.margintop-6 {
    margin-top: 6px;
}
.marginbottom-6,
.input-group .form-control.marginbottom-6 {
    margin-bottom: 6px;
}
/*input.google-map-field + div .form-control:focus {
    color: #464a4c;
    border-bottom-color: #03A9F4;
    outline: 0;
}*/

.fondo-blanco.iconArrowLeft{
    margin-left: 0px !important;
    left: 0px !important;
    position: absolute !important;
}

.table > thead:first-child > tr:first-child > td {
    border-top: 1px solid #ddd;
}

.avatar-container {
    width: 200px;
    height: 200px;
    display: inline-block;
    position: relative;
}
.avatar {
    background-color: rgba(140, 140, 140, 0.3);
    width: 100%;
    cursor: pointer;
}
.avatar:hover {
    background-color: rgba(140, 140, 140, 0.5);
}
.avatar::before {
    content: "\e046";
    font-family: 'Glyphicons Halflings';
    font-size: 80px;
    line-height: 200px;
    color: #a8a8a8;
}
.avatar-container a {
    position: absolute;
    bottom: 0;
    right: 5px
}
.btn.btn-circle{
    border-radius: 50%;
    padding: 15px;
}
.pac-container {
    z-index: 2000;
}
.address-list li {
    color:#333333;
}
.btn-datasheet {
    font-size: 24px;
    font-weight: bold;
    line-height: 50px;
    text-transform: uppercase;
    text-align: left;
}
.btn-datasheet img {
    margin-right: 10px;
}
.group-name {
    padding: 10px 20px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    background-color: #F50035;
}
.group-team {
    color: #252525;
    font-size: 16px;
    background-color: #DEDEDE;
    text-align: left;
    margin-top: 10px;
    line-height: 50px;
}
.group-team img {
    width: 32px;
    margin: 0 5px;
}
.group-location {
    background-color: #CBCBCB;
    line-height: 10px;
    padding: 5px;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
}
.transparent .list-group {}
.transparent .list-group .list-group-item,
.transparent .list-group .list-group-item h4 {
    background-color: transparent;
    color: #FFFFFF;
}
.transparent .list-group .list-group-item img,
.transparent .list-group .list-group-item div.avatar{
    width: 80px;
    height: 80px;
    text-align: center;

}
.transparent .list-group .list-group-item:hover {
    background-color: rgba(250, 250, 250, 0.5);
}
.transparent .list-group .list-group-item div.avatar::before {
    font-size: 40px;
    line-height: 70px;
    color: #a8a8a8;
}
.transparent .list-group .list-group-item div.avatar:hover {
    background-color: rgba(140, 140, 140, 0.3);
}
.transparent .pagination > .disabled > span,
.transparent .pagination > li > a {
    color: #FFFFFF;
    background-color: transparent;
}
.transparent .pagination > .disabled > span {
    color: #999999;
}
.transparent .pagination > .active > span,
.transparent .pagination > .active > span:hover {
    background-color: rgba(0,0,0,0.5);
    border-color: #DDDDDD;
}

.team-container .avatar-container {
    width: auto;
    height: auto;
    display: auto;
    position: static;
}
.team-container .avatar,
.team-container .color-team {
    cursor: pointer;
    height: 130px;
    width: 130px;
    text-align: center;
    border: 10px solid #FFF;
    background-color: rgba(0, 0, 0, 0.8);
    margin-bottom: 10px;
    padding: 0px;
    -webkit-transition:      all .2s ease-in-out;
    transition:              all .2s ease-in-out;
}
.team-container .avatar:hover,
.team-container .color-team:hover {
    background-color: rgba(20, 20, 20,0.8);
}
.team-container .avatar::before {
    font-size: 60px;
    line-height: 110px;
}
.team-container .team-line {
    padding: 10px 40px 10px 10px;
    border: solid 1px #FFFFFF;
    margin-bottom: 10px;
    position: relative;
    min-height: 103px;
}
.team-container .team-line .avatar {
    height: 80px;
    width: 80px;
    border-width: 5px;
    margin-bottom:0px;
    cursor: default;
    float: left;
    margin-right: 10px;
}
.team-container .team-line .avatar::before {
    font-size: 45px;
    line-height: 72px;
}
.team-container .team-line p {
    font-size: 20px;
}
.team-container .team-line .btn-remove-team{
    position: absolute;
    right: 0px;
    top: 0px;
}
.input-group-big {
    margin: 30px 0px;
}
.input-group-big input {
    height: 70px;
    font-size: 30px;
    text-transform: uppercase;
}
.btn-load-team {
    font-size: 130%;
    font-weight: bold;
    padding: 15px 12px;
    margin: 30px 0px;
}
.button-actions a {
    font-size: 30px;
}
.btn-link.text-danger:hover, .btn-link.text-danger:focus {
    color: #843534;
}
.player-container {
    cursor: pointer;
    height: 150px;
}
.player-container img {
    background-color:#000;
    padding:5px;
    position: relative;
    z-index: 2;
}
.player-container span {
    display:inline-block;
    padding: 5px 10px;
    background-color: #000000;
    margin-top: -7px;
    position: relative;
    z-index: 1;
    border: 1px solid #FFFFFF;
    padding-top: 10px;
    font-size: 12px;
    border-radius: 5px;
    width: 90%;
}
#modal-player .modal-content {
    border-radius: 0px;
    background-color: #353535;
}
#modal-player .loading{
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: #333333;
    background-color: #FFFFFF;
}
#modal-player .modal-title p {
    font-size: 20px;
    color:#505050;
    font-weight: bold;
    padding: 10px 15px;
    margin-bottom: 0px;
    border-bottom: 1px solid #505050;
    background-color: #FFFFFF;
}
#modal-player .player-data{
    background-color: #FFFFFF;
}
#modal-player hr {
    border: 1px dashed #505050;
    margin:0px;
}
#modal-player .row-control,
#modal-player .row-control .ct-addon-especial {
    color: #505050 !important;
}
#modal-player .row-control p {
    font-weight: bold;
    font-size: 10px;
    margin-top: 10%;
    margin-bottom: 10%;
}
#modal-player .row-control i {
    font-size:20px;
    border-bottom: 1px solid #505050;
}
#modal-player .row-control div.input-group-addon {
    background-color: transparent;
    border:0px;
}
.tt-hint {
    color: #000000;
}
.tt-suggestion {
    color: #999999;
    font-size: 22px;  /* Set suggestion dropdown font size */
    padding: 3px 20px;
}
.tt-suggestion:hover {
    cursor: pointer;
    background-color: #0097CF;
    color: #FFFFFF;
}
.tt-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    padding: 8px 0;
    width: 422px;
}
.twitter-typeahead {
    width: 100%;
}
.team-counter {
    margin: 30px 0px;
    font-size: 40px;
    line-height: 40px;
    padding: 16px 10px;
}
/*#modal-player .player-avatar {
    width: 150px;
    height: 150px;
    display: inline-block;
    position: relative;
}*/
/*background-color: #E1E1E133;
border: 4px solid transparent;*/
