{% extends 'AppBundle::layout.html.twig' %}
{% block menu %}
  <nav id="topbar" role="navigation" style="margin-bottom: 0;" class="navbar navbar-default navbar-static-top">
    <div class="topbar-main">
      <div class="row">
        <div class="col-md-12 text-right">
          <div class="row">
            <div class="col-md-4">
              <a id="menu-superior" href="{{ path('diseno_login') }}" class="btn text-left">
                <i class="fa fa-angle-double-left text-white"></i>
              </a>
            </div>
            <div class="col-md-offset-6 col-md-2 text-right">
              <a id="menu-superior" href="#" class="btn">
                <i class="fa fa-bars text-white"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
{% endblock %}
{% block contenidos %}<a href="{{ path('diseno_login') }}">Login</a> {% endblock %}
